<footer class="site-footer">
  <div class="wrapper">
    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      <a href="{{ site.baseurl }}/"><h1 class="page-heading">Статьи</h1></a>
        <ul class="contact-list">
          <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
          <li><a href="tel:88202742405"> 
          {% include icon-phone.html username=site.phone %} 8(8202) 74-24-05</a></li>
          <li>
            <!-- <a rel="nofollow" href="https://vk.com/electriccherepovets">вк</a> -->
            <!-- <a rel="nofollow" href="https://www.instagram.com/electric_35/">instagram</a> -->
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.vk %}
          
             {% include icon-vk.html username=site.vk %}
          
          {% endif %}

          {% if site.im %}
          
            {% include icon-im.html username=site.im %}
          
          {% endif %}
        </ul> 
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
        <p class="copyrigth">
          &copy; Copyright 2017 
          <a href="es-amper.com"> es-amper.com</a>
        </p>
    </div>

  </div>

</footer>
