<div class="gallery">
 <figure class="fpage"> 
           <img src="../photo/11.png" alt="Электромонтажные работы в коттедже">
    			<figcaption>Кухня, освещение.</figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/2.png" alt="Пайка скруток">
      			<figcaption>Пайка скруток.</figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/3.png" alt="Соединения в коробках">
      			<figcaption>Сварка скруток. </figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/4.png" alt="Установка светильников">
      			<figcaption>Установка настенных светильников. </figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/5.png" alt="Электромонтаж в квартире">
      			<figcaption>Черновой электромонтаж. Розетки силовые(220В) и тв.</figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/6.png" alt="Электромонтаж квартиры чистовой">
      			<figcaption>Установка розеток, чистовой электромонтаж.</figcaption>
    		</figure>
     		<figure class="fpage">
       			<img src="../photo/7.png" alt="Черновой электромонтаж квартиры">
      			<figcaption>Блок розеток под телевизор.</figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/8.png" alt="Черновой электромонтаж кухня">
      			<figcaption>Установка розеток на кухне.</figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/9.png" alt="Черновой электромонтаж кухня">
      			<figcaption>Черновой электромонтаж кухни.</figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/10.png" alt="Чистовой электромонтаж">
      			<figcaption>Установка блока розеток под телевизор.</figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/1.png" alt="Прихожая, электрика">
      			<figcaption>Прихожая, черновой электромонтаж.</figcaption>
    		</figure>
    		<figure class="fpage">
       			<img src="../photo/12.png" alt="Электромонтаж подъездов">
      			<figcaption>Монтаж автоматического освещения подъездов.</figcaption>
    		</figure>
  			</div>