.wrapper-page {
    width: 100%;
}

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background: $gradient;
    // position: fixed;
    // top: 0;
    width: 100%;
}
header {
    .contact-header{
        display:block;
        color: $text-white-color;
        float: right;
        padding-top: 15px;
        .phone{
            display: inline-block;
            #Capa_1 {
                width: 13px;
                height: 13px;
                margin-left: 11px;
            }
            }
            @include media-query ($on-palm) {
                display:none;
        }    
    }
    .phone {
        display: none;
        @include media-query($on-palm) {
            display: block;
            float: left;
            margin-top: 14px;
            margin-right: 15px;
            margin-left: 18px;
            #Capa_1 {
                width: 23px;
                height: 23px;
            }
        }
    }
}


.site-title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    @include media-query ($on-small){
        font-size: 1.2rem;
    }
    &,
    &:visited {
        color: $text-white-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    font-size: 1rem;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-white-color;
        line-height: $base-line-height;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    @include media-query($on-palm) {
        float: none;
        right: $spacing-unit / 2;
        border-radius: 5px;
        font-size: 1.3rem;
        .menu-icon {
            display: block;
            margin-top: 9px;
            margin-right:13px;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            background-color: $menu-icon-color;
            border-radius: 5px;
            > svg {
                width: 18px;
                height: 15px;
                path {
                    fill: $text-white-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.gallery {
    display: block;
    .fpage {
        max-width: 45%;
        float: left;
        margin: 2.5%;
        @include media-query ($on-small) {
            max-width: 100%;
        }
    }    
    figure {
        .center{
            margin: auto;
            margin-top: $spacing-unit;
        }
        img {
            box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.75);
        }
        figcaption {
            padding: 15px 0 0 0;
            text-align: center;
        }
    }
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom:$spacing-unit/2;
    font-size: 0.7em;
    .tablehead {
        background-color: $tablehead;
        color: $text-white-color;
    }
     
    td, th {
        border: 1px solid black;
        padding: 8px;
        /*margin: 1%;*/
        text-align: left;
    }
    th {
        height: 38px;
    }
}

.advanced {
    padding: 20px;
    box-shadow: 0px 0px 10px 5px #c7c7c7;
    width: auto;
    float: left;
    @include media-query($on-laptop) {
        padding-left: 0;
        padding-right:0;
        box-shadow: unset;
    }
   .lable_name {
        font-size: 0.8em;
    
    }
    .col1 {
        float: left;
        width: 60%;
    }
    .col2 {
        float: right;
        width: 35%;
    }
    select, input {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 0.9em;
    }
}
.col3{
    display: block;
    padding-top: 20px;
    #advanced_result {
        margin:$spacing-unit 0;
        width: 60%;
    }
     .price {
        margin:$spacing-unit 0;
        float:  right;
    }
}

iframe {
  margin-left: 5%;
  width: 90%;
  min-width: 231px;
  max-height: 506px;
  min-height: 300px;
  height: 45vh;
}

aside {
    width: auto;
    float: right;
    @include media-query($on-palm) {
        display: none;
    }
    h3 {
        font-size: 1.1em;
    }
}

footer {
    background-color: $bg-footer;
    .phone {
       #Capa_1 {
        height: 15px;
        width: 15px;
        }
    }
    .page-heading {
        display: none;
        @include media-query ($on-palm) {
            display: block;
            width: auto;
            margin: 0;
            float: right;
            font-size: 1rem;
            clear: both;
        }
        

    }

}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    
}

.contact-footer {
    display: block;
    float: left;
    padding-left: $spacing-unit/2;
    @include media-query ($on-palm){
        margin-left: $spacing-unit/2;
        padding-left: 0;
    }
    @include media-query ($on-small){
        float: right;
    }
}

.footer-col-wrapper {
    color: $text-white-color;
    margin-right: $spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    @include media-query($on-palm) {
        width: 50%;
    }
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
    
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.page-content {
    min-height: calc(100vh - 189px);
    @include media-query($on-laptop) {
        padding: 0;
    }
}

.page-heading {
    font-size: 20px;
        @include media-query($on-laptop) {
            margin-top: $spacing-unit*0.5;
        }
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit/2;
    }
}

.post-meta {
    display: none;
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 1rem;
}

.post {
    background-color: $bgColorContent;
    padding: 0 $spacing-unit;
    width: 60%;
    float: left;
        @include media-query($on-laptop) {
            padding-left: 0;
            padding-right: 0;
        }
        @include media-query($on-palm) {
            min-width: 100%;
        }
}
.post-title {
    display: block;
    background-color: #eec;
    padding: 15px;
    margin-top: 15px; 
    margin-left: 10px;
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
        margin-right:10px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
        @include media-query($on-laptop) {
        }
        
    h2 {
        font-size: 1.7em;

        @include media-query($on-laptop) {
            font-size: 1.5em;
        }
    }

    h3 {
        font-size: 1.5em;

        @include media-query($on-laptop) {
            font-size: 1.3em;
        }
    }

    h4 {
        font-size: 1.4em;

        @include media-query($on-laptop) {
            font-size: 1.2em;
        }
    }
    h5 {
        font-size: 1.3em;

        @include media-query($on-laptop) {
            font-size: 1.1em;
        }
    }
}
